h1{
    color: rgb(215, 159, 90);
    text-align: center;
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(22, 11, 81);
    line-height: 200px;
    text-shadow: 8px 8px 8px rgb(8, 8, 11);

}

h1:hover{
    background-color: rgb(61, 41, 85);

}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

img{
    width: 280px;
    height: 280px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 20px;

}

img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;



}
 body{
    background-color: beige;
    
 }
