h1{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

#ship{
    color: brown;
}

#paragraph{
    font-weight: bold;
}

.new{
    font-style: italic;
}
#VIP{
    background-color: lightskyblue;
    margin: 40px;
    padding: 30px;
    border-radius: 20px;
    color: darkslateblue;
}

#VIP h3{
    color: darkblue;
    text-align: center;
    font-size: 30px;
}

#VIP:hover{
    background-color: deepskyblue;
    transform: scale(1.05);
    transition: transform 0.5s ease;

}

#surprises{
    display: flex;
    gap: 20px;
    margin: 40px;
}

#delivery{
    display: flex;
    gap: 20px;
    margin: 40px;
}

#courses{
    display: flex;
    gap: 20px;
    margin: 40px;
}